#forum-rules {
  max-height: 40vh;
  width: 80vw;
  background-image: url(../../../images/n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  min-width: 20vw;
}

#forum-rules-text {
  margin-top: 1%;
  font-family: "Titillium Web", sans-serif;
  color: #006272;
  position: relative;
  background: rgb(255, 255, 255, 0.9);
  padding: 2%;
  max-height: 40vh;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: bolder;
}
#rules-list {
  font-size: 1.3rem;
}

#title {
  font-weight: bold;
}

#forum-proper {
  margin: none;
  margin: auto;
  margin-top: 2%;
  width: 82vw;
}

#copyright {
  margin-top: 10px;
  color: #006272;
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
  margin-top: 2%;
}
#forum-main {
  text-align: left;
  margin-top: 2%;
  min-width: 20vw;
}

#forum-main-text {
  margin-top: 1%;
  font-family: "Titillium Web", sans-serif;
  color: #006272;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  font-size: 1.2rem;
}

#forum-post-container {
  margin-left: auto;
  margin-top: 0.8%;
}

#other-forum-links {
  font-size: 1rem;
  list-style: square;
  cursor: pointer;
}

#other-forum-links:hover {
  font-size: 1.2rem;
  transition: 0.5s;
}

#post-date {
  font-size: 0.9rem;
}

#comment-panel {
  width: 40vw;
  min-width: 15vw;
  margin-left: auto;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}

#interact-pane {
  align-items: center;
  justify-content: center;
}

.comment-head {
  font-family: "Titillium Web", sans-serif;
  color: #006272;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row wrap;
}
.add-comment {
  flex: 1 30%;
  margin-left: 40px;
}
#comments {
  flex: 1 50%;
}
#c {
  margin: 0;
}

#event-text {
  margin-top: 1%;
  font-family: "Titillium Web", sans-serif;
  color: #006272;
  position: relative;
  background: rgb(255, 255, 255, 0.9);
  padding: 2%;
  max-height: 40vh;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}

#event-box {
  max-height: 40vh;
  width: 80vw;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 2%;
  min-width: 20vw;
}
.event-table {
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.poster-details {
  display: flex;
  font-size: 1.4rem;
  border-bottom: inset 2px #006272;
}
.poster-details span:first-of-type {
  flex: 1;
}
#comment-text {
  font-family: "Titillium Web", sans-serif;
  color: #006272;
  font-size: 1.2rem;
}
.create-post {
  flex: 1 100%;
}
.tablecell {
  flex: 1 30%;
}
