@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.container {
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: "";
  background-image: url(../../../images//bg.main.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
}

main > div {
  color: white;
  width: 100vw;
  height: 75vh;
  margin: 0;
}

main > div#content-container {
  position: relative;
  background: rgb(255, 255, 255, 0.8);
}

#copyright {
  margin-top: 10px;
  color: #006272;
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
}

#tag-line {
  margin-top: 1%;
  font-family: "Titillium Web", sans-serif;
  color: #006272;
}

section {
  display: flex;
  margin-top: 2%;
}
#card-section {
  margin: auto;
  height: 40vh;
}

#text-display {
  font-family: "Titillium Web", sans-serif;
  color: #006272;
}
#event-button {
  background-color: white;
  color: #006272;
  font-family: "Titillium Web", sans-serif;
  min-width: 20vw;
  height: 5vh;
  font-size: 1.5rem;
}

#event-button-container {
  align-items: center;
  justify-content: center;
}

#nav-links {
  text-decoration: none;
  text-decoration-style: none;
}

section {
  color: #006272;
}
#text-display {
  font-weight: bold;
}
