@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

#create-button-text,
#cancel-button-text,
#confirm-button-text {
  background-color: white;
  color: #006272;
  font-size: 1.2rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

#cancel-button-text {
  margin-right: auto;
}

#cancel-button-text,
#confirm-button-text {
  width: 10vw;
}
#create-button-text {
  width: 25vw;
}
#create-post-textarea {
  font-family: "Titillium Web", sans-serif;
  color: #006272;
  font-size: 1rem;
}
#alert-dialog-title {
  font-family: "Titillium Web", sans-serif;
  color: #006272;
  font-size: 1.2rem;
}
